body{
    background-color: black;
    overflow: hidden;
}

#over-side{
    border: 1px solid rgb(51, 255, 0);
    box-sizing: border-box;
    margin-top: -9px;
    height: 101%;
    width: 100px;
    position: fixed;
    left: -80px;
    transition: all 350ms;
}

#side{
    border: 1px solid red;
    box-sizing: border-box;
    margin-left: -9px;
    width: 80px;
    height: 100vh;
    background-color: rgb(75, 74, 74);
}

#next-to-side{
    border: 1px solid rgb(0, 38, 255);
    height: 200px;
    width: 100px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 35%;
}

#over-to-side{
    border: 1px solid rgb(0, 38, 255);
    height: 200px;
    width: 80px;
    background-color: rgb(75, 74, 74);
    position: absolute;
    top: 35%;
    left: -10%;
}

.txt{
    color: white;
}
